# **Задание 1**
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
```
[The Moscow Times — Wednesday, October 2, 2002
The Guardian — Friday, 11.10.13
Daily News — Thursday, 18 August 1977]

```

In [ ]:
from datetime import datetime as dt
import re

In [ ]:
newspapers = ['The Moscow Times — Wednesday, October 2, 2002',
'The Guardian — Friday, 11.10.13', # будем считать, что 11 октября
'Daily News — Thursday, 18 August 1977']

# Регулярки написал просто так, ради практики

pattern_1 = '([a-zA-z\s]+)—\s([a-zA-z]{6,9},\s[a-zA-z]+\s\d{1,2},\s\d{4})'
dt_pattern_1 = '%A, %B %d, %Y'
dt_1 = re.search(pattern_1, newspapers[0]).group(2)
dt_1 = dt.strptime(dt_1, dt_pattern_1)

pattern_2 = '([a-zA-z\s]+)—\s([a-zA-z]{6,9},\s\d{2}\.\d{2}\.\d{2})'
dt_pattern_2 = '%A, %d.%m.%y'
dt_2 = re.search(pattern_2, newspapers[1]).group(2)
dt_2 = dt.strptime(dt_2, dt_pattern_2)

pattern_3 = '([a-zA-z\s]+)—\s([a-zA-z]{6,9},\s\d{1,2}\s[a-zA-z]{3,9}\s\d{4})'
dt_pattern_3 = '%A, %d %B %Y'
dt_3 = re.search(pattern_3, newspapers[2]).group(2)
dt_3 = dt.strptime(dt_3, dt_pattern_3)

print(dt_1)
print(dt_2)
print(dt_3)

datetime.datetime(2002, 10, 2, 0, 0)

# **Задание 2**
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
`stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]`

Напишите функцию, которая проверяет эти даты на корректность. То есть для каждой даты возвращает True — дата корректна или False — некорректная.

In [ ]:
stream = ['2018-04-02', '2018-02-29','2018-19-02']

def is_dt_correct(date):
  dt_pattern = '%Y-%m-%d'
  try:
    dt.strptime(date, dt_pattern)
    return True
  except ValueError:
    return False


for date in stream:
  print(is_dt_correct(date))

True
False
False

# **Задание 3**
Напишите функцию date_range, которая возвращает список дат за период от `start_date` до `end_date`. Даты должны вводиться в формате `YYYY-MM-DD`. В случае неверного формата или при `start_date` > `end_date` должен возвращаться пустой список.

In [ ]:
from datetime import timedelta

def date_range(date_start, date_end):
  if date_start > date_end:
    return []
  else:
    if is_dt_correct(date_start) and is_dt_correct(date_end):
      date_start = dt.strptime(date_start, '%Y-%m-%d')
      date_end = dt.strptime(date_end, '%Y-%m-%d')
      range_ = [date_start + timedelta(days=1*i) for i in range((date_end - date_start).days)] # как и большинство подобных функций последний элемент в списрк не включен
      return range_
    else:
      return []

date_range('2024-05-01', '2024-05-10')

[datetime.datetime(2024, 5, 1, 0, 0),
 datetime.datetime(2024, 5, 2, 0, 0),
 datetime.datetime(2024, 5, 3, 0, 0),
 datetime.datetime(2024, 5, 4, 0, 0),
 datetime.datetime(2024, 5, 5, 0, 0),
 datetime.datetime(2024, 5, 6, 0, 0),
 datetime.datetime(2024, 5, 7, 0, 0),
 datetime.datetime(2024, 5, 8, 0, 0),
 datetime.datetime(2024, 5, 9, 0, 0)]

# **Задание 4 (необязательное)**
Ваш коллега прислал код функции:

```
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=[‘A100’, ‘A101’, ‘A102’]):
"""
Удаляет из списка default_list последнего пользователя
и возвращает ID нового последнего пользователя.
"""
  element_to_delete = default_list[-1]
  default_list.remove(element_to_delete)
  return default_list[DEFAULT_USER_COUNT-2]
```
При однократном вызове этой функции всё работает корректно:

```
delete_and_return_last_user(1)
>>>‘A101’
```

Однако при повторном вызове получается ошибка `IndexError: list index out of range`.

Задание:

* Что значит ошибка `list index out of range`?
* Почему при первом запуске функция работает корректно, а при втором — нет?

In [ ]:
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
  """
  Удаляет из списка default_list последнего пользователя
  и возвращает ID нового последнего пользователя.
  """
  print(default_list)
  element_to_delete = default_list[-1]
  default_list.remove(element_to_delete)
  return default_list[DEFAULT_USER_COUNT-2]

In [ ]:
delete_and_return_last_user(1)
delete_and_return_last_user(1)

['A100', 'A101', 'A102']
['A100', 'A101']

IndexError: list index out of range

1. Ошибка `list index out of range` означает выход за переделы массива или обращение к индексу за пределами массива

2. Ошибка возникает, потому что объект default_list создается только один раз, дальше он изменяется. Поэтому после первого вызова в нем остается всего 2 элемента, после в телеф функции во время второго вызова удаляется еще один элемент(остается 2) и функция пытается вернуть элемент с индексом один (по факту второй элемент списка), которого нет